<!DOCTYPE html>
<html>
<head>
	<title>EOYS 2021 Submission Form</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Erin Sparling">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css" />
	<link rel="stylesheet" href="css/formstyles.css">
</head>
<body>

    {{{body}}}

</body>
</html>