<!DOCTYPE html>
<html lang="en">
  <head>
    <title>End of the Year Show 2021 - Cooper Union</title>
    <meta name="description" content="Cooper Union's Second Annual End of the Year Show Gallery">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/1ddf0756-3e11-469e-97f4-3ee8ac80c2ed%2Fcooper%20favicon.ico?v=1594001380616" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/app/css/space.css">    
    <link rel="stylesheet" href="/app/css/style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.2/src/httpVueLoader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.3.4/dist/vue-router.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuex@3.5.1/dist/vuex.min.js"></script>
    <script type="module" src="/app/script.js"></script>
  </head>
  <body id="top">
    <div id="app">
      <router-view></router-view>
    </div>
  </body>
</html>