<!DOCTYPE html>
<html lang="en">
  <head>
    <title>End of the Year Show 2021 - Cooper Union</title>
    <meta name="description" content="Cooper Union's Second Annual End of the Year Show Gallery">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/1ddf0756-3e11-469e-97f4-3ee8ac80c2ed%2Fcooper%20favicon.ico?v=1594001380616" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/app/css/space.css">    
    <link rel="stylesheet" href="/app/css/style.css">

    <script type="module">
      import * as Vue from 'https://cdn.jsdelivr.net/npm/vue@3.0.11/dist/vue.esm-browser.min.js'
      // import * as Vue from 'https://cdn.jsdelivr.net/npm/vue@3.0.11/dist/vue.esm-browser.prod.min.js'      
       import * as vue3-sfc-loader from 'https://cdn.jsdelivr.net/npm/vue3-sfc-loader@0.7.3/dist/vue3-sfc-loader.esm.min.js'

// https://cdn.jsdelivr.net/npm/vue3-sfc-loader@0.7.3/dist/vue3-sfc-loader.esm.min.js
// https://cdn.jsdelivr.net/npm/vue-router@4.0.6/dist/vue-router.esm-browser.min.js
// https://cdn.jsdelivr.net/npm/vuex@4.0.0/dist/vuex.esm-browser.min.js
    
    </script>
    

  </head>
  <body id="top">
    <div id="app">
      <router-view></router-view>
    </div>
  </body>
</html>