<!DOCTYPE html>
<html lang="en">
  <head>
    <title>End of the Year Show 2021 - Cooper Union</title>
    <meta name="description" content="Cooper Union's Second Annual End of the Year Show Gallery">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/1ddf0756-3e11-469e-97f4-3ee8ac80c2ed%2Fcooper%20favicon.ico?v=1594001380616" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/app/css/space.css">    
    <link rel="stylesheet" href="/app/css/style.css">

 {{#data.prod}}
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.11/dist/vue.global.prod.js" integrity="sha256-duyn52PmPNCJdKEZOCIhsB9Rv7qzoWAgADcqNAYkgjk=" crossorigin="anonymous"></script>
{{/data.prod}}    
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.11/dist/vue.global.js" integrity="sha256-jN9tBRIyWCHH2GPV46P5ll/uyBFkXXqdtXTRwW1Mrp8=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.5.1/dist/vue-router.min.js" integrity="sha256-eZzOaXKNUwCBbixtwh69SAgFtFqGT6028WLW01MNPKA=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader@0.7.3/dist/vue3-sfc-loader.js" integrity="sha256-ZQZNtT9KesW5w8c3Kz4Voix7QBJvN5iiEnd+AoZg8NE=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vuex@3.6.2/dist/vuex.min.js" integrity="sha256-Pv2SFYpMJPmZV3P6/t4ld+Fkb3OBUsA7gHZ4thBYPzw=" crossorigin="anonymous"></script>




    

  </head>
  <body id="top">
    <div id="app">
      <router-view></router-view>
    </div>
  </body>
</html>