input[list] {
	border: 1px solid #595959;
	padding: 0.3375rem 0.39375rem;
}

ul {
	list-style-type: none;
}

p {
	margin-bottom: 1em;
}

legend {
	font-size: 1.75rem;
}

.main {
	border: none;
	background-color: transparent;
}

fieldset.hide {
	display: none;
}

.inputlist {
	margin: 0;
}

.inputlist label {
	display: inline-block;
}

.titlelabel, .pseudolabel {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 0.125em;
}

.label-context {
	font-style: italic;
}

.formblock {
	margin-bottom: 2rem;
  position: relative;
}

.formblock.invalid .titlelabel,
.formblock.invalid .pseudolabel {
  color: #900;
}

.formblock.invalid:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -24px;
  width: 6px;
	background-color: #900;
}


.formblock[data-required="required"] .titlelabel:after,
.formblock[data-required="required"] .pseudolabel:after {
	content: " *";
	color: #900;
}

.explan {
	color: #900;
}

button[type="submit"].invalid {
  background-color: #900;
}

.validation-message {
  display: block;
}

button[type="submit"].invalid ~ .validation-message:before {
  content: "Required fields: ";
  font-weight: bold;
}