:root {
    --reqmsg: "The following fields are required: ";
}

input[list] {
	border: 1px solid #595959;
	padding: 0.3375rem 0.39375rem;
}

ul {
	list-style-type: none;
  margin: 0;
}

p {
	margin-bottom: 1em;
}

legend {
	font-size: 1.75rem;
}

.main {
	border: none;
	background-color: transparent;
}

fieldset.hide {
	display: none;
}

.inputlist {
	margin: 0;
}

.inputlist label {
	display: inline-block;
}

.inputlist.checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inputlist.checkboxes > li {
  margin: 0 0.5em 0.5em 0;
}

.inputlist.checkboxes > li label {
  display: block;
  border: 1px solid #999;
  border-radius: 1.5em;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0;
  cursor: pointer;
}

.inputlist.checkboxes > li.checked label {
  background-color: #ccc;
}

.inputlist.checkboxes > li:hover label {
  border-color: #666;
  box-shadow: 0 0 0 1px #666;
}



.titlelabel, .pseudolabel {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 0.125em;
}

.label-context {
	font-style: italic;
}

.formblock {
	margin-bottom: 2rem;
  position: relative;
}


.formblock.hidden {
	visibility: hidden;
  height: 0;
}


.validation-active .formblock.invalid .titlelabel,
.validation-active .formblock.invalid .pseudolabel {
  color: #900;
}

.validation-active .formblock.invalid:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -24px;
  width: 6px;
	background-color: #900;
}


.formblock[data-required="required"] .titlelabel:after,
.formblock[data-required="required"] .pseudolabel:after {
	content: " *";
	color: #900;
}

.explan {
	color: #900;
}

.validation-active button[type="submit"]{
  background-color: #900;
}

.validation-message {
  display: none;
}


.validation-active .validation-message {
  display: block;
}

.validation-active .validation-message:before {
  content: var(--reqmsg);
  text-transform: uppercase;
}

.validation-message ul {
  border-left: 6px solid #900;
  padding-left: 24px;
  margin-left: -24px;
}

.validation-message ul > li {
  color: #900;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.validation-message ul > li:hover {
  color: #666;
}

.validation-message ul > li:hover:after {
  display: inline-block;
  content: "\21B5";
  transform: scaleX(-1) rotate(90deg);
  margin-left: 0.25em;
  color: #999;
}

.form-input.has-advanced-upload {
  position: relative;
  padding: 2em 1em 2em 1em;
  text-align: center;
  outline: 2px dashed #111;
	outline-offset: -2px;
	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.form-input.has-advanced-upload input[type='file'] {
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form-input.has-advanced-upload label {
  margin: 0;
}

.form-input.has-advanced-upload label > .button {
  display: inline-block;
  margin: 0 0.25em;
  background-color: #ddd;
  cursor: pointer;
  color: #191919;
  padding: 0.4078125rem 1.4625rem;
  text-align: center;
  border-radius: 3.6px;
}


.form-input.has-advanced-upload label:hover > .button {
  background-color: #555;
  color: #fff;
}


.form-input.has-advanced-upload.is-dragover {
	outline-offset: -12px;
	outline-color: #333;
	background-color: #fff;
}

.form-input .prompt {
/*   margin-top: 1em; */
  font-weight: 700;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out, max-height .25s ease-in-out, margin .25s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em 0 -0.5em 0;
}

.form-input:not(.populated) .prompt {
  opacity: 0;
  max-height: 0em;
  margin: 0;
}


.success__info {
 display: block; 
}


.form-input .promptname {
  font-style: italic;
  font-weight: 300;
  line-height: 2.25;
  margin-left: 0.5em;
}

.upload__idoutput {
 display: inline-block;
  border: 1px solid #111;
  padding: 0.1em 0.2em;
  margin: 0.25em 0 0.5em 0;
  font-weight: bold;
  font-size: 1rem;
}

button.clear {
  overflow: hidden;
  text-indent: -200vw;
  background-color: transparent;
	background-image: url('data:image/svg+xml;utf8,<svg height="93.934" viewBox="0 0 93.934 93.934" width="93.934" xmlns="http://www.w3.org/2000/svg"><path d="m80.178 13.757c-18.341-18.342-48.08-18.342-66.421 0-18.342 18.341-18.342 48.08 0 66.421 18.341 18.342 48.08 18.342 66.421 0 18.342-18.342 18.342-48.08 0-66.421zm-8.602 47.98-9.838 9.838-14.771-14.77-14.771 14.77-9.838-9.838 14.77-14.771-14.77-14.771 9.838-9.838 14.771 14.771 14.771-14.771 9.838 9.838-14.77 14.772z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 1em;
  height: 1.5em;
  display: inline-block;
  margin: 0 0 0 0.5em;
  padding: 0;
  opacity: 0.333;
}