
.vimeo.is-uploading .form-input {
	outline-color: #ccc;
}

.vimeo.is-success .form-input {
	outline-color: transparent;
}

.vimeo.is-error .form-input {
	outline-color: #900;
}

.vimeo.is-uploading .form-input > *,
.vimeo.is-success .form-input > *,
.vimeo.is-error .form-input > * {
	display: none;
}

.vimeo.is-uploading .file__prompt,
.vimeo.is-success .file__prompt,
.vimeo.is-error .file__prompt,
.vimeo.is-uploading .uploadit,
.vimeo.is-success .uploadit,
.vimeo.is-error .uploadit {
	display: none;
}

.box__uploading,
.box__success,
.box__error {
	display: none;
}

.vimeo.is-uploading .box__uploading,
.vimeo.is-success .box__success,
.vimeo.is-error .box__error {
	text-align: center;
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	-webkit-transform: translateY( -50% );
	transform: translateY( -50% );
}

.box__uploading {
	font-style: italic;
}

.box__uploading h5 {
	margin-bottom: -0.75em;
}

.box__success h5 {
	margin-bottom: -0.25em;
}

.box__success {
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}

.box__restart {
	display: inline-block;
	font-weight: 700;
	color: #111;
	border: 1px solid #111;
	padding: 0.1em 0.2em;
	margin: -0.1em -0.2em;
	text-decoration: none;
	margin-top: 1.5em;
}

.box__restart:focus,
.box__restart:hover {
	color: #111;
}

progress {
	-webkit-appearance: none;
	appearance: none;
	height: 2px;
	width: 33%;
}

progress[value]::-webkit-progress-bar {
	background-color: #eee;
}

progress[value]::-webkit-progress-value {
	background-color: #111;
}

.videos-list li {
	margin: 0.5em 0;
	font-size: 12px;
}

.videos-list li .title {
	font-weight: bold;
}

@-webkit-keyframes appear-from-inside {
  from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
  75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
  to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}

@keyframes appear-from-inside {
  from	{ transform: translateY( -50% ) scale( 0 ); }
  75%		{ transform: translateY( -50% ) scale( 1.1 ); }
  to		{ transform: translateY( -50% ) scale( 1 ); }
}
