<!DOCTYPE html>
<html>
  <head>
    <title>EOYS 2021 Submission Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Erin Sparling" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"
    />
    <link rel="stylesheet" href="css/formstyles.css" />
    <link rel="stylesheet" href="css/uploader.css" />
  </head>
  <body>
    <form>
      <fieldset class="section-standardwork">
        <legend>Standard Work Information</legend>
        <p class="sublegend">
          For each piece of work, please submit all creative assets together as
          one form. For each new piece, re-submit a new form.
        </p>
        <p class="sublegend">
          Please see the
          <a
            href="https://cooperunion.sharepoint.com/:b:/s/art.eyos/EVBVdfN4bk1ArQlQTVQ6- xsBNaaYMyXSi8i83cof-J5zWw?e=U2R8Fb"
            >ARTWORK UPLOAD GUIDELINES</a
          >
          for more information.
        </p>
        <div class="formblock" data-required="required">
          <span class="titlelabel" data-anchor="artworkid">Artwork</span>
          <p class="label-context">
            1. Please upload from one to five files of the same filetype that
            represent this piece. For the case of a work that requires two types
            of media, please submit a separate form for the alternate media.
          </p>

          <div class="wordpress uploader">
            <div class="form-input no-validate" data-inputtype="file">
              <label for="artworkupload"
                ><span class="button">Select up to five files</span
                ><span> or drag them here</span>.</label
              >
              <input
                id="artworkupload"
                name="artworkupload"
                class="input-file"
                type="file"
                multiple="multiple"
                data-multiple-caption="{count} files queued for upload"
              />
              <dl class="promptlist"></dl>
              <button class="clearall" type="button">Clear all</button
              ><button class="uploadit" type="button" disabled="">
                Upload it
              </button>
              <div class="success-message">
                <h5>
                  Upload successful.
                </h5>
                <small>Your file(s) have been submitted.</small>
              </div>
            </div>
          </div>
          <p class="label-context">
            2. Make sure that you have chosen the correct file(s), and click the
            <strong>Upload them</strong> button.
          </p>
          <p class="label-context">
            3. Once the upload is completed, a list of your submitted files will
            appear below.
          </p>
          <div class="form-input" data-inputtype="text">
            <small class="filesummary"
              >Files submitted: <output class="summary-list"></output
            ></small>
            <input
              id="artworkid"
              name="artworkid"
              type="hidden"
              placeholder="Artwork ID"
              readonly="readonly"
            />
          </div>
        </div>
        <div class="formblock" data-required="required">
          <span class="pseudolabel" data-anchor="class">Class</span>
          <p class="label-context">
            Please choose the class(es).
          </p>
          <ul class="inputlist checkboxes" data-name="classes"></ul>
          <div class="form-input" data-inputtype="datalist">
            <input
              list="datalist-classes"
              id="classes"
              placeholder="Classes"
            />
            <datalist id="datalist-classes">
              {{#data.courses}}
              <option name="{{@index}}">{{course}}</option>
              {{/data.courses}}
            </datalist>
          </div>
        </div>
      </fieldset>
      <button type="submit">Submit</button>
    </form>

<footer>
	<h3>
		Thank you for uploading this work. 
	</h3>
	<h4>
		If you have more work to submit, please re-submit this form. 
	</h4>
</footer>
    
    <script src="js/test.js"></script>

    <!--     <script src="js/wordpressfx.js">
    </script>
 -->
  </body>
</html>
