<!DOCTYPE html>
<html>
  <head>
    <title>EOYS 2021 Submission Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Erin Sparling" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"
    />
    <link rel="stylesheet" href="css/formstyles.css" />
    <link rel="stylesheet" href="css/uploader.css" />
  </head>
  <body>
    <form>
      <fieldset class="section-standardwork">
        <legend>Standard Work Information</legend>
        <p class="sublegend">
          For each piece of work, please submit all creative assets together as
          one form. For each new piece, re-submit a new form.
        </p>
        <p class="sublegend">
          Please see the <a href="https://cooperunion.sharepoint.com/:b:/s/art.eyos/EVBVdfN4bk1ArQlQTVQ6- xsBNaaYMyXSi8i83cof-J5zWw?e=U2R8Fb">ARTWORK UPLOAD GUIDELINES</a> for more information.
        </p>
        <div class="formblock" data-required="required">
          <span class="titlelabel" data-anchor="artworkid">Artwork</span>
          <div class="wordpress uploader">
            <div class="form-input no-validate" data-inputtype="file">
              <label for="artworkupload"><span class="button">Select up to five files</span><span> or drag them here</span>.</label>
              <input
                id="artworkupload"
                name="artworkupload"
                class="input-file"
                type="file"
                multiple="multiple"
                data-multiple-caption="{count} files queued for upload"
              />
              <input type="text" id="alt_text" name="alt_text" placeholder="alt_text" />
              <input type="text" id="caption" name="caption" placeholder="caption" />
              <input type="text" id="description" name="description" placeholder="description" />


              <small class="prompt">file: <output class="promptname"></output>
                <button class="clear">clear</button></small>
              <button class="uploadit" type="button" disabled=""> Upload it </button> 
            </div>
          </div>
          <div class="form-input" data-inputtype="text">
            <small class="summary">uploaded: <output class="summary-list"></output></small>
            <input id="artworkid" name="artworkid" type="hidden" placeholder="Artwork ID" readonly="readonly">
          </div>
        </div>    
      </fieldset>
      <input type="submit" name="submit">
    </form>
    
    <pre><code></code></pre>
  
    <script>
    
        

        let form = document.querySelector("form")
        let output = document.querySelector("code")
        let endpoint = 'http://coopereoys2021.wpengine.com/wp-json/v2/media'
        
        
        form.onsubmit = async (e)=>{
          
          let file = document.querySelector("input[type=file]")
          let alt_text = document.querySelector("#alt_text").value
          let caption = document.querySelector("#caption").value
          let description = document.querySelector("#description").value
        
          e.preventDefault()
          let formData = new FormData()
          formData.append("image", file.files[0])
          formData.append("title", "a test title")
          formData.append("alt_text", alt_text)
          formData.append("caption", caption)
          formData.append("description", description)
          formData.append("email", "test@here.com")
          const response = await fetch("/wp/image", {
            method: "POST",
            body: formData
          }).then(post=>post.json())
          output.innerHTML = JSON.stringify(response)
        }
    
    </script>
  </body>
</html>
